@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@font-face {
    font-family: "CAT Linz";
    src: url('../fonts/CATLinz.ttf') format('ttf'), url('../fonts/CATLinz.woff2') format('woff2'), url('../fonts/CATLinz.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}