<footer class='footer'>
    <div class='container'>
        <div class='footer__inner'>
            <div class="footer__col">
                <div class="footer__title">Контакты:</div>
                <a href="tel:89873456567" class="footer__link">8 987 345 65 67</a>
                <a href="tel:89172672912" class="footer__link">8 917 267 29 12</a>
            </div>
            <div class="footer__col">
                <div class="footer__title">Соцсети:</div>
                <a href="" class="footer__link">INSTAGRAM</a>
                <a href="" class="footer__link">VKONTAKTE</a>
            </div>
            <div class="footer__col">
                <div class="footer__title">Мастер-класы:</div>
                <a href="#prices" class="footer__link">Описание</a>
            </div>
        </div>
    </div>
</footer>

<button class="scroll-up scroll-up--activ">
    <svg width="24" height="15" viewBox="0 0 24 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.95605 13.261L11.9995 1.78271L22.043 13.261" stroke="#fff" stroke-width="2" stroke-linecap="round"></path>
    </svg>
</button>