<header class='header'>
    <div class='container'>
        <div class='header__inner'>
            <a href="" class="header__logo">
                <img src="img/logo.svg" alt="">
            </a>
            <button class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <nav class="nav">
                <a href="" class="nav__link">о нас</a>
                <a href="" class="nav__link">услуги</a>
                <a href="" class="nav__link">галерея</a>
                <a href="" class="nav__link">отзывы</a>
                <a href="" class="nav__link">регистрация</a>
            </nav>
        </div>
    </div>
</header>